@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-color: #F4F4F6;
}

.container {
    width: 70%;
    margin: 3rem auto;
}

header {
    text-align: center;
    margin-bottom: 1rem;
    padding: 3rem;
    background-color: white;
}

footer {
    text-align: center;
    padding: 3rem;
    background-color: white;
}

footer p:not(:last-child) {
    margin-bottom: 1rem;
}

header .title {
    margin-bottom: 1rem;
}

header .subtitle {
    color: #3A405A;
}

.modules {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
}

.module {
    display: inline-flex;
    flex-direction: column;
    border: #3A405A 1px solid;
    padding: 20px;
    border-radius: 10px;
    background-color: #92BCEA;
    color: black;
    row-gap: 0.7rem;
}

.module h3 {
    color: black;
    font-weight: normal;
}

.module a {
    display: inline-block;
    padding: 10px 15px;
    border: #3A405A 1px solid;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.module a:hover {
    background-color: #3A405A;
    color: white;
}

@media only screen and (max-width: 1080px) {
    .container {
        width: 80%;
    }

    .modules {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .modules {
        grid-template-columns: 1fr;
    }
}